# Backend (Render)
DATABASE_URL=postgres://user:password@neon-db-url:5432/dbname
SUPERADMIN_NAME=Admin
FRONTEND_URL=https://semeja.vercel.app

# Frontend (Vercel)
VITE_API_URL=https://semeja-api.onrender.com/api
